transition(
  enter-active-class="animated fadeIn",
  leave-active-class="animated fadeOut"
)
  //- @click="closeShowStart",
  div.p-start(
    v-show="$store.state.startShow",
    ref="startWrapper"
  )
    div.start-cont
      div.start-page.start-page-1(
        @click="closeShowStart"
      )
        img(src="./start-tie.png")
        div 赶紧向右滑吧
        div 开启我们的贴吧之旅
      div.start-page.start-page-2
        img(src="./start-1.png")
      div.start-page.start-page-3
        img(src="./start-2.png")
      div.start-page.start-page-4
        img(src="./start-3.png")
      div.start-page.start-page-5(
        @click="closeShowStart"
      )
        img(src="./start-4.png")
